<div class="container">
  <div class="welcomeHeader">Welcome {{user}}</div>
  <div class="createPostHeader">Want to post something?</div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="postTitleField" class="form-label">Title:</label>
        <input type="text" class="form-control" id="postTitleField">
      </div>
      <div class="mb-3">
        <label for="postContentField" class="form-label">Content:</label>
        <textarea class="form-control" id="postContentField" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary d-grid col-2 mx-auto" id="addPostBtn" data-id={{user.id}}>Add Post</button>
    </form>
  </div>
</div>

<div class="container post">
  <div class="row justify-content-evenly">
    {{#each userPosts as |post| }}
      <div class="card postCard">
        <div class="card-header">
          {{post.title}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Created By: {{post.user.username}}</h5>
          <p class="card-text">{{post.content}}</p>
          <a href="#" class="btn btn-primary" id="viewPostBtn">View Post</a>
        </div>
        <div class="card-footer">
          Date Created: {{format_date post.dateCreated}}
        </div>
      </div>
    {{/each}}
  </div>
</div>